{{extend 'layout.html'}}


<!--
<a class="btn" href="{{=URL('entity_type_manage')}}"> Editar tipos de entidades </a>
-->

<a class="btn"  href="{{=URL('doc_manage')}}"> Tipos de Documentos</a> 

<a class="btn"  href="{{=URL('account_manage')}}"> Tipos de Contas</a>

<a class="btn"  href="{{=URL('user','manage')}}"> Utilizadores / Grupos</a>

<a class="btn"  href="{{=URL('user','manage_group')}}"> Grupos</a>

<a class="btn"  href="{{=URL('user','users_post')}}"> Utilizadores por posto</a>

<a class="btn"  href="{{=URL('config','auth_computer')}}"> Autorizar computadores</a>




